/* inject:scss */
@import 'modules/variables.scss';
@import 'modules/dashboard/dashboard.scss';
@import 'modules/general/content.scss';
@import 'modules/general/forms.scss';
@import 'modules/native-like-menu/native_sidemenu.scss';
@import 'modules/newPost/newPost.scss';
@import 'modules/signup/signup.scss';
@import 'modules/user/user.scss';
/* endinject */
