//colors
$white: white;
$black_30: rgba(0, 0, 0, 0.3);
$color_tuatara_approx: #343434;
$color_gunsmoke_approx: #858585;
$black: rgb(0, 0, 0);

drawer {
  display: block;
  position: fixed;
  width: 270px;
  height: 100%;
  z-index: 100;
  background-color: $white;
  .header-menu {
    margin-top: 0;
    padding-top: 0;
    ion-list .list {
      padding-top: 0;
    }
  }
  &.animate {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all ease-in-out 300ms;
  }
  &.left {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate3d(-101%, 0, 0);
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 1px 5px 10px $black_30;
  }
  &.right {
    right: 0;
    top: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate3d(100%, 0, 0);
  }
  .clickable {
    color: $color_gunsmoke_approx;
    font-size: 20px;
    &.current {
      color: $color_tuatara_approx !important;
    }
  }
  .item-icon-left .icon {
    font-size: 24px;
    padding-bottom: 2px;
  }
  .current a.item-content {
    color: $color_tuatara_approx !important;
  }
  a.item-content {
    color: $color_gunsmoke_approx;
    font-size: 20px;
  }
  .item-complex .item-content {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
  }
}

.drawer-open {
  .drawer-content {
    .pane {
      pointer-events: none;
      opacity: 0.2;
    }
    .scroll-content {
      pointer-events: none;
      opacity: 0.2;
    }
  }
  view {
    background-color: transparent;
  }
  ion-pane.pane {
    background-color: transparent;
  }
  ion-view.pane {
  }
}

ion-side-menu {
  .current a.item-content {
    color: $color_tuatara_approx !important;
  }
  .clickable.current {
    color: $color_tuatara_approx !important;
  }
}

.header-menu {
  top: 0;
  bottom: 44px;
}

.menu-content {
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
}

.bar {
  .title {
    text-align: left;
    left: 16px !important;
    &.no-nav {
      text-align: left;
      left: 0 !important;
    }
    &.title-center {
      text-align: center;
      left: 0 !important;
      right: 0 !important;
    }
  }
  .button-icon.ion-navicon {
    margin-left: -20px;
    padding-right: 20px;
  }
  .button.button-icon.ion-ios7-arrow-back:before {
    font-size: 17px;
    line-height: 32px;
    padding-right: 100px;
  }
}

.platform-android4_0 drawer.left {
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
  border-left: 0;
  border-right: 0;
}

.menu .scroll-content {
  top: 42px;
}

.ion-view.pane {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: opacity .25s ease-in-out;
}

.menu-open ion-view.pane {
}

.modal-wrapper .bar .title {
  text-align: center;
  left: 0 !important;
}

.ion-ios7-arrow-back:before {
  content: "\f2ca";
}
