<ion-view hide-back-button="true">
  <ion-content class="view-wrapper dashboard animate-ripple">
    <button ng-click="newRoom()" id="fab-profile" class="button button-fab button-fab-bottom-right button-calm pane"><i
      class="icon ion-plus"></i></button>
    <div class="list room-list-wrapper" ng-repeat="room in rooms">
      <div class="room-wrapper item card-item" ng-click="openRoom(room)">
        <img ng-src="{{room.image}}">
        <div class="room-details">
          <h4 class="room-name">{{room.name}}</h4>
          <div class="room-last-message">
            <p>{{room.lastMessage.message | limitTo: 20}}</p>

            <p><span am-time-ago="(-1*room.lastMessage.created) | amFromUnix | amLocal"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

