<ion-modal-view>
  <ion-header-bar class="bar-positive mi-bar">
    <div class="buttons" ng-click="modal.hide()">
      <p>Cancel</p>
    </div>
    <h1 class="mi-bar-title">New post</h1>

    <div class="buttons" ng-click="newPost()">
      <p>Post</p>
    </div>
  </ion-header-bar>
  <ion-content class="view-wrapper new-post">
    <div class="list card">
      <div class="item item-body">
        <div class="new-post-header">
          <div class="write-something">
            <input placeholder="Title" ng-model="post.title">
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-body">
        <div class="new-post-header">
          <div class="user-image">
            <img ng-if="user" ng-src="{{user.photoURL}}">
          </div>
          <div class="write-something">
            <textarea ng-model="post.message"></textarea>
          </div>

        </div>
      </div>
    </div>
    <div class="photo-buttons">
      <button class="button button-outline button-positive add-select-photo" ng-click="addImage('DATA_URL')">
        Add photo
      </button>
      <button class="button button-outline button-positive add-select-photo" ng-click="addImage('FILE_URL')">
        Select photo
      </button>
    </div>
    <div class="image" ng-if="post.image">
      <img ng-src="{{post.image}}">
    </div>
  </ion-content>
</ion-modal-view>

