<ion-modal-view>
  <ion-header-bar class="bar-positive mi-bar">
    <div class="buttons" ng-click="closeNewPostModal()">
      <p>{{"dashboard.cancel" | translate}}</p>
    </div>
    <h1 class="mi-bar-title">{{"dashboard.newPost" | translate}}</h1>

    <button class="buttons post-button" ng-click="addNewPost(newPostModal)"
            ng-disabled="newPostModal.title === undefined || newPostModal.message === undefined ||  postButtonDisabled === true">
      {{"dashboard.post" | translate}}
    </button>
  </ion-header-bar>
  <ion-content class="view-wrapper new-post">
    <form name="newPost">
    <div class="list card">
      <div class="item item-body">
        <div class="new-post-header">
          <div class="user-image">
            <img ng-if="user" ng-src="{{user.photoURL}}">
          </div>
          <div class="write-something">
            <textarea ng-model="newPostModal.message" placeholder="{{'dashboard.writeSomething' | translate}}"
                      ng-required="true"></textarea>
          </div>

        </div>
      </div>
    </div>
    <div class="photo-buttons">
      <button class="button button-outline button-positive add-select-photo" ng-click="addImage('CAMERA')">
        {{"dashboard.addPhoto" | translate}}
      </button>
      <button class="button button-outline button-positive add-select-photo" ng-click="addImage('PHOTOLIBRARY')">
        {{"dashboard.selectPhoto" | translate}}
      </button>
    </div>
      <div class="image" ng-if="newPostModal.image">
        <img ng-src="{{newPostModal.image}}">
    </div>
    </form>
  </ion-content>
</ion-modal-view>

