<ion-modal-view class="new-room-modal">
  <ion-header-bar class="bar-positive mi-bar">
    <div class="buttons" ng-click="removeModal()">
      {{"global.cancel" | translate}}
    </div>
    <h1 class="mi-bar-title"></h1>
    <button class="buttons post-button" ng-click="newQuote()">
      {{"chat.send" | translate}}
    </button>
  </ion-header-bar>
  <ion-content class="new-quote-wrapper">
    <label class="item item-input item-floating-label">
      <span class="input-label">{{"chat.message" | translate}}</span>
      <textarea placeholder="{{'chat.message' | translate}}"
                ng-model="quote.message"></textarea>
    </label>

    <div class="select-time">
      <div class="pick-buttons">
        <div class="pick-button once-button" ng-click="quote.repeat = 'once'"
             ng-class="{'active': quote.repeat === 'once'}">
          {{"chat.once" | translate}}
        </div>
        <div class="pick-button every-day-button" ng-click="quote.repeat = 'everyDay'"
             ng-class="{'active': quote.repeat === 'everyDay'}">
          {{"chat.everyDay" | translate}}
        </div>
      </div>
      <button class="button button-outline button-calm" ng-click="openTimePicker()">
        <i class="ion-clock"></i>
      </button>
    </div>
    {{time | amFromUnix | amDateFormat: 'h:mm'}}

    <div class="users-list">
      <div class="users-list-wrapper" ng-repeat="user in users" ng-if="user.uid !== currentUser.uid"
           ng-click="selectUser(user)">
        <div class="user-wrapper">
          <img ng-src="{{user.image.path}}">

          <p>{{user.username}}</p>
        </div>
        <div class="user-selected" ng-if="selectedUser.uid === user.uid">SELECTED</div>
      </div>
    </div>

  </ion-content>
</ion-modal-view>

