.dashboard {
  .card {
    .item {
      display: flex;
      flex-direction: column;
      padding: 0;
      .new-post-header {
        display: flex;
        width: 100%;
        .user-image {
          width: 20%;
          padding: 3%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 6px;
          }
        }
        .write-something {
          padding: 3%;
          width: 100%;
          color: $normal-grey;
          input {
            width: 100%;
          }
        }
      }
      .new-post-footer {
        height: 40px;
        display: flex;
        background: $light-grey;
        justify-content: space-between;
        align-items: center;
        padding-right: 5%;
        padding-left: 5%;
        color: $normal-grey;
      }
    }
  }
  .posts-list-wrapper {
    padding-top: 40px;

    .posts-list {
      margin-bottom: 40px;
      border: 1px solid $light-grey;
      .item-body {
        .post-title {
          padding: 3%;
          h2 {
            color: $grey;
            font-size: 30px;
            margin: 0;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }

        }
        .post-owner {
          display: flex;
          padding: 3%;
          .owner-photo {
            img {
              width: 50px;
              height: 50px;
            }
          }
          .status {
            padding-left: 20px;
            padding-top: 5px;
            p {
              margin: 0;
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
        .post-image {
          img {
            height: 250px;
            width: 100%;
          }
        }
      }
      .new-badge {
        position: absolute;
        background: $error-pink;
        height: 20px;
        z-index: 100;
        right: 0;
        width: 20%;
        top: 5%;
        text-align: center;
        color: white;
        font-weight: bold;
      }
    }
  }
}

.dashboard-detail {
  .header {
    img {
      width: 100%;
    }
  }
  .post-title {
    min-height: 50px;
    height: auto;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 20px;
    color: $normal-grey;
    border-bottom: 1px solid $light-grey;
    font-size: 18px;
  }
  .post-message {
    padding: 20px;
    color: $grey;
    font-size: 14px;
  }
}

.dashboard-footer {
  background: $light-grey;
  color: $normal-grey;
}
