.user {
  .user-header {
    display: flex;
    flex-direction: column;
    .top-header {
      display: flex;
      .user-header-left {
        width: 30%;
        padding: 10px;
        img {
          width: 100%;
          height: 88px;
          border: 2px solid $light-grey;
          border-radius: 6px;
        }
      }
      .user-header-right {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 10px;
        .top-data {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 50px;
          padding: 10px;
          .user-posts {
            width: 50%;
            text-align: left;
            border-right: 1px solid $light-grey;
          }
          .user-pics {
            width: 50%;
            text-align: right;
          }
        }
        .settings-button {
          button {
            width: 100%;
          }
        }
      }
    }
    .bottom-header {
      text-align: center;
      border-bottom: 1px solid $light-grey;
      border-top: 1px solid $light-grey;
      h3 {
        color: $grey;
        font-weight: bold;
      }
      h5 {
        color: $grey;
      }
    }
  }
  .user-tabs {
    padding-bottom: 50px;
    .posts-tab {
      border: 1px solid $light-grey;
      .item-body {
        .post-title {
          h2 {
            font-size: 18px;
            margin: 0;
            color: $normal-grey;
          }
        }
        .new-post-footer {
          .status {
            span {
              font-size: 12px;
              font-weight: bold;
              color: $grey;
            }
          }
        }
      }
    }
  }
}

.edit-account {
  .user-image {
    padding: 5%;
    img {
      width: 100%;
      height: 300px;
      border-radius: 6px;
    }
  }
  .languages-wrapper {
    display: flex;
    padding: 20px;
    .language-wrapper {
      width: 50%;
      border: 1px solid $light-grey;
      text-align: center;
      border-radius: 6px;
    }
    .active {
      background: $algae-green;
      color: white;
    }
  }
  .button-block {
    background: $light-blue;
  }
}

.settings {
  .list {
    .item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $light-grey;
    }
  }
}

#user-tabs-wrapper {
  border-top: 1px solid $light-grey;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-profile-name {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 0 10px;
  line-height: 30px;
}

[user-profile-header] {
  background-image: url('/img/cover-image.jpg');
}

[user-profile-sub-header] {
  height: 40px;
  display: none;
  background: #6e6e6e;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.user-profile-image {
  height: 100px;
  width: 100px;
  margin-top: 10px;
}
