<ion-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Registracija</h1>
  </ion-header-bar>
  <div class="ionic login " style="background-image: url('image/slika10.jpg');">
    <div class="hero no-header flat">
      <div class="content">
        <i class="ion-map icon hero-icon royal-bg"></i>

        <h1>M&I</h1>
      </div>
    </div>
    <div class="list">
      <label class="item item-input item-md-label" highlight-color="balanced" type="text"><input type="text"
                                                                                                 ng-model="user.email"><span
        class="input-label">Email</span>

        <div class="highlight highlight-balanced"></div>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive waves-effect waves-button waves-light" ng-click="signup()">
        Registriraj me
      </button>
      <div class="error" ng-if="errorMessage" ng-bind="errorMessage">
      </div>
      <div class="button-bar">
        <button
          class="button button-small button-outline button-assertive light-bg icon-left  waves-effect waves-button waves-light"
          ui-sref="login">Imam račun
        </button>

      </div>
    </div>
  </div>
</ion-view>
