<ion-modal-view class="dashboard-detail">
  <ion-header-bar class="bar-positive mi-bar">
    <div class="buttons" ng-click="closePostDetailsModal()">
      <i class="ion-ios-close-outline"></i>
    </div>
    <p>{{(-1*post.created) | amFromUnix | amDateFormat: "LLL"}}</p>
  </ion-header-bar>
  <ion-content class="view-wrapper" delegate-handle="modalContent">
    <div class="post-message">
      {{post.message}}
    </div>
    <div class="header" ng-if="post.image">
      <img ng-src="{{post.image}}">
    </div>
  </ion-content>
  <div class="bar bar-footer dashboard-footer">
    <div class="title" ng-click="openCommentModal(post)">{{"dashboard.comment" | translate}}</div>
  </div>
</ion-modal-view>

