<ion-modal-view class="dashboard-detail">
  <ion-header-bar class="bar-positive mi-bar">
    <div class="buttons" ng-click="postDetailsModal.remove()">
      <i class="ion-ios-close-outline"></i>
    </div>
    <h1 class="mi-bar-title">{{post.title | limitTo: 20}}</h1>
  </ion-header-bar>
  <ion-content class="view-wrapper" delegate-handle="modalContent">
    <div class="header" ng-if="post.image">
      <img ng-src="{{post.image}}">
    </div>
    <div class="post-title">
      <p>{{post.title}}</p>

      <p>{{(-1*post.created) | amFromUnix | amDateFormat: "LL"}}</p>
    </div>
    <div class="post-message">
      {{post.message}}
    </div>
  </ion-content>
  <div class="bar bar-footer dashboard-footer">
    <div class="title" ng-click="openCommentModal(post)">{{"dashboard.comment" | translate}}</div>
  </div>
</ion-modal-view>

