$light-blue: #11c1f3;
$blue: #387ef5;
$error-pink: #ff565d;
$background: #f9f9f9;
$light-grey: #dcdcdc;
$grey: #979797;
$normal-grey: #a1a29a;
$algae-green: #1bc959;
$header-background: #00a3ed;
$dark-blue: #2c456f;
$darker-blue: rgb(32, 38, 49);
$dark: #222;
$gray: #657987;
